body {
margin: 0px;
box-sizing: border-box;
}

.Title {
  font-family: "Zen Dots";
  font-size: 96px;
  text-align: center;
  margin-left: 1%;
  color: black;
  text-shadow: 1px -1px 0 white,
  1px 1px 0 white,
  -1px -1px 0 white,
  -1px 1px 0 white;
}

.missiontitle {
  font-family: "Zen Dots";
  font-size: x-large;
  text-indent: 2vw;
  color: white;
  padding: 1vw;
  background-color: black;
}

.missionstatement {
  display: flex;
  align-items:flex-start;
  float: left;
  font-family: "Zen Dots";
  font-size: xx-large;
  background-color: black;
}
.missionstatement p{
  color: white;
  margin-left: 3vw;
  border-radius: 15%;
  margin-bottom: 5%;
  float: right;
}

.missionstatement img{
  padding: 2%;
  border-radius: 15%;
  margin-bottom: 5%;
  float: right;
}

.visionsection {
  background-color: gray;
  display: inline-block;
  padding-bottom: 3vh;
}

.visiontitle {
  font-family: "Zen Dots";
  font-size: x-large;
  text-align: right;
  margin-right: 3%;
  
}
.visionstatement {
  display: flex;
  align-items: center;
  font-family: "Zen Dots";
  font-size: xx-large;
  margin-right: 4%;
  margin-bottom: 5%;
}
.visionstatement img{
  float: right;
  padding: 2%;
  border-radius: 15%;
}
.safetytitle {
  font-family: "Zen Dots";
  font-size: x-large;
  margin-left: 3%;
}
.safetystatement {
  display: flex right;
  font-family: "Zen Dots";
  font-size: x-large;
  align-items:center;
  float: left;
  margin-left: 4%;
}
.safetystatement img{
  float: right;
  padding: 2%;
  border-radius: 15%
}
