body {
background-color: rgb(128, 128, 128);
margin: 0px;
box-sizing: border-box;
}

.Title {
  font-family: "Zen Dots";
  font-size: 96px;
  margin-left: 1%;
}

.missiontitle {
  font-family: "Zen Dots";
  font-size: x-large;
  margin-left: 3%;
}

.missionstatement {
  align-items:center;
  float: left;
  font-family: "Zen Dots";
  font-size: xx-large;
  margin-left: 4%;
}
.missionstatement img{
  padding: 2%;
  border-radius: 15%;
  float: right;
}

.visiontitle {
  font-family: "Zen Dots";
  font-size: x-large;
  margin-left: 3%;
  
}
.visionstatement {
  display: flex;
  align-items: center;
  font-family: "Zen Dots";
  font-size: xx-large;
  margin-left: 4%;
}
.visionstatement img{
  float: right;
  padding: 2%;
  border-radius: 15%;
}
.safetytitle {
  font-family: "Zen Dots";
}
.safetystatement {
  font-family: "Zen Dots";
  font-size: x-large;

}
