.WorkSpace {
  
  width: 100%;
  
}




.Title {
  position: absolute;
  width: 70%;
  text-align: center;
  margin-left: 15vw;
  font-size: 2vw;
  font-family: "Zen Dots";
  margin-bottom: 1%;
  color: white;
  text-shadow: 2px -2px 0 black,
  2px 2px 0 black,
  -2px -2px 0 black,
  -2px 2px 0 black;
}

.Title2 {
  position: absolute;
  width: 70%;
  margin-left: 15vw;
  margin-top: 57vh;
  text-align: center;
  font-size: 3vw;
  font-family: "Zen Dots";
  margin-bottom: 1%;
  color: white;
  text-shadow: 2px -2px 0 black,
  2px 2px 0 black,
  -2px -2px 0 black,
  -2px 2px 0 black;
}

* {
    box-sizing: border-box;
}


.CareerButton, .CareerButton2, .CareerButton3 {
  display: flex;
  color: white;
  height: 16vh;
  background-color: grey;
  margin-left: 10vw;
  margin-top: 10vh;
  z-index: 5;
  
}

body::-webkit-scrollbar {
  display: none;
}

.HiddenText, .HiddenText2, .HiddenText3{
  color: white;
  position: absolute;
  width: 16%;
  margin-left: 2%;
  margin-right: 2%;
  opacity: 0;
  margin-right: 120%;
  text-align: center;
  margin-top: 4vw;
  font-size: x-large;
  z-index: 6;
  transition: 2s;
}
.JackImage, .JackImage2, .JackImage3{
  position: absolute;
  transition: 1s;
  z-index: 4;
  width: 40vh;
  
}
.Caption, .Caption2, .Caption3 {
  margin-top: 41.8vh;
  width: 40vh;
  height: 25%;
  color: white;
  display: block;
  font-family: "Zen Dots";
  text-align: center;
  background-color: grey;
  font-size: 1.5vw;
}


.CareerButton:hover .JackImage, .CareerButton2:hover .JackImage2, .CareerButton3:hover .JackImage3{
  filter: brightness(50%)

}

.intro{
  position: absolute;
  color: white;
margin-top: 65vh;
margin-left: 10vw;
margin-right: 8vw;
font-size: 1vw;
}
.text{
  font-family: "Zen Dots";
  
}
.CareerButton:hover .HiddenText, .CareerButton2:hover .HiddenText2, .CareerButton3:hover .HiddenText3{
  opacity: 1;
  transition: 2s; 

}


.buttons{
  display: flex;
}




.trainingsubtitle{
  font-family: "Zen Dots";
  font-size: large;
  color: white;
  margin-left: 5%
}
body {
  padding: 25px;
  font-family: sans-serif;
}

.timeline {
  white-space: nowrap;
  overflow-x: scroll;
  padding: 30px 0 10px 0;
  position: relative;
}

.timeline::-webkit-scrollbar {
  display: none;
}



