body {
  background-color: rgb(145, 145, 145);
margin: 0px;
box-sizing: border-box;
}

.FrancisBig {
  width: 100vh;
  height:100vw;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100vh);
  overflow-y: scroll;
  position: absolute;
  overflow-x: hidden;
}

.FrancisSmall {
  display: flex;
  width: 200vw;
  transform-origin: top left;
  transform: rotate(90deg) translateY(-100vh);
}

.FrancisBig::-webkit-scrollbar {
  display: none;
}

.FrancisV {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.FrancisVI {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-position: bottom;
  background-size: cover;
}

.background {
  background-image: url(blackSpace.jpg);
  z-index: -4;
}

.moon{
  background-image: url("moonPNG.png");
  transform: scale(0.2);
  width: 400px;
  height: 391px;
  margin-left: auto;
  z-index: 10;
}


.III {
  background-image: url(blackSpace.jpg);
  transform: rotate(180deg);
}

.earth {
  background-image: url("Earth.png");
  transform: scale(0.2);
  width: 400px;
  height: 400px;
  padding: 400px;
  background-repeat: no-repeat;
  z-index: 10;
  transform: translateX(4600px) translateY(800px);
}

button {
  z-index: -1;
  height: 5%;
  width: 100%;
  background-color: black;
  color: white;
  cursor: pointer;
  font-family: "Zen Dots", sans-serif;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.2);

}
