body {
  background-color: rgb(145, 145, 145);
margin: 0px;
box-sizing: border-box;
}

/* Basically the body */
.Workspace {
  width: 100vh;
  height:100vw;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100vh);
  overflow-y: scroll;
  position: absolute;
  overflow-x: hidden;
}
/* Encapsulates the two background panes */
.Pane {
  display: flex;
  width: 200vw;
  transform-origin: top left;
  transform: rotate(90deg) translateY(-100vh);
}
/* hides scroll bar */
.Workspace::-webkit-scrollbar {
  display: none;
}
/* Space images, used as background (general class for the two children) */
.Background {
  height: 100vh;
  width: 100vw;
  position: relative;
}
/* children and properties for the actual background pictures */
.Background:nth-child(1) {
  background-image: url('blackSpace.jpg');
  background-size: contain;
}
.Background:nth-child(2) {
  background-image: url('blackSpace.jpg');
  background-size: contain;
  transform: rotate(180deg);
}

/* Styling for the packages button */
button {
  z-index: -1;
  height: 5%;
  width: 100%;
  background-color: black;
  color: white;
  cursor: pointer;
  font-family: "Zen Dots", sans-serif;
  transition: 0.2s;
}
button:hover {
  transform: scale(1.2);
}
