.Title {
    font-family: "Zen Dots";
    font-size: 80px;
}

.description {
    font-family: "Zen Dots";
    font-size: xx-large;
}


.Rocket {
    margin-bottom: 200px;
}

.flip-card {
    background-color: transparent;
    width: 20vw;
    height: 50vh;
    perspective: 1000px;
    font-family: sans-serif;
  }
  
  .title {
    color: black;
    font-size: 2vw;
    font-weight: 900;
    text-align: center;
    margin: 5;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background: linear-gradient(120deg, lightblue 60%, rgb(255, 255, 255) 88%,
       rgb(255, 255, 255) 40%, blue 48%);
    color: rgb(0, 0, 0);
  }
  
  .flip-card-back {
    background: linear-gradient(120deg, lightblue 30%, lightblue 88%,
       rgb(196, 248, 255) 40%, rgb(255, 255, 255) 78%);
    color: white;
    transform: rotateY(180deg);
  }

  .containers {
    margin-top: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container1 {
    padding: 5vw;
  }

  .container2 {
    padding: 5vw;
  }

  .container3 {
    padding: 5vw;
  }

  .header2 {
    width: 100%;
    position:absolute;
    margin: 1vw;
    height: 6%;
    font-family: "Zen Dots";
    text-align: center;
  }

  .Title2 {
    font-size: 40px;
    color: black;
    font-family: "Zen Dots";
    font-size: 1vw;
    font-weight: 400;
    text-align: center;
    margin: 5;
  }

  .title3{
    font-size: 2vw;
    color: black;
    margin: 2vw;
    font-size: 5em;
    font-weight: 900;
    text-align: center;
    margin: 5;
  }