body {
  background-color: rgb(145, 145, 145);
margin: 0px;
box-sizing: border-box;
}

.Title {
  font-family: "Zen Dots";
  font-size: 64px;
}


.missionstatement {
  font-family: "Zen Dots";
  font-size: x-large;
  margin-top: 50px;

}
.visionstatement {
  font-family: "Zen Dots";
  font-size: x-large;
  margin-top: 50px;
  
  
}

