body {
  background-color: rgb(145, 145, 145);
margin: 0px;
box-sizing: border-box;
}

.missionstatement {
  padding-left: 50px;
  margin-left: 100px;
}
.visionstatement {
  padding-left 50px;
  margin-left: 100px;
  text align: right;
  
}

