body {
    background-color: lightblue;
    
}

img.logo {
    height: 59px;
    justify-content: left;
    align-items: left;
    margin-right: auto;
    margin-left: 20px;
    display: flex;
    border-radius: 15px;
}


a.normalButton {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 25px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

a.normalButton::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

a.normalButton:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

a.specialButton {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

div.specialButtonPadding {
    background-color: blue;
    padding: 18px;
    border-radius: 15px;
    margin-right: 25px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

a.specialButton::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

a.specialButton:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

div.dropBtn {
    position: relative;
    display: inline-flex;
    padding: 18px;
}

div.FrancisSr {
    /* justify-content: right; */
    width: 100%;
    padding: 10px;
    display: flex;
    left: 0;
}

.wrapper {
    height: 150vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.background{
    transform: translateZ(-10px) scale(2);
}

.foreground{
    transform: translateZ(-5px) scale(1.5);
}


.background,
.foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
.title{
    font-size: 75px;
    color: white;
    text-shadow: 0 0 5px black;

}

section {
    font-size: 25px;
    padding: 20px;
    background-color: black;
    color: white;
}