img.logo {
    height: 59px;
    justify-content: left;
    align-items: left;
    margin-right: auto;
    margin-left: 20px;
    display: flex;
}


a.normalButton {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 25px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

a.normalButton::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

a.normalButton:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

a.specialButton {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

div.specialButtonPadding {
    background-color: blue;
    padding: 18px;
    border-radius: 15px;
    margin-right: 25px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

a.specialButton::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

a.specialButton:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

div.dropBtn {
    position: relative;
    display: inline-flex;
    padding: 18px;
}

div.FrancisSr {
    /* justify-content: right; */
    width: 100%;
    padding: 10px;
    display: flex;
    left: 0;
}
